<div class="overlay">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thẻ thông tin cá nhân</span>
            <a (click)="redirect()"><span class="close-button">X</span></a> <!-- Close (x) button -->
        </div>
        <form *ngIf="userData && cardData">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Họ và tên:</label>
                    <input type="text" [(ngModel)] = "userData.name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="position">Chức vụ:</label>
                    <input type="text" [(ngModel)] = "cardData.position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="title">Vị trí chức danh:</label>
                    <input type="text" [(ngModel)] = "cardData.title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="forte">Công việc sở trường:</label>
                    <input type="text" [(ngModel)] = "cardData.forte" name="forte" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="department">Phòng ban:</label>
                    <input type="text" [(ngModel)] = "cardData.department" name="department" required>
                </div>
                <div class="form-group">
                    <label for="unit">Đơn vị:</label>
                    <input type="text" [(ngModel)] = "cardData.unit" name="unit" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="tel">Số điện thoại cơ quan:</label>
                    <input type="text" [(ngModel)] = "userData.tel" name="tel" required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại di động:</label>
                    <input type="text" [(ngModel)] = "userData.phone" name="phone" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" [(ngModel)] = "userData.email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" [(ngModel)] = "userData.address" name="address" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="nickname">Nick name:</label>
                    <input type="text" [(ngModel)] = "cardData.nickname" name="nickname" required>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="cancel-button" (click) = "cancel()">Hủy</button>
                <button type="submit" class="save-button" (click) = "saveData()">Lưu thông tin</button>
            </div>
        </form>
    </div>
</div>
