<div class="overlay">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thẻ thông tin cá nhân</span>
            <a [routerLink]="['/page/user/user-card']"><span class="close-button">X</span></a> <!-- Close (x) button -->
        </div>
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="fullName">Họ và tên:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="position">Chức vụ:</label>
                    <input type="text" id="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fullName">Vị trí chức danh:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="position">Công việc sở trường:</label>
                    <input type="text" id="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fullName">Phòng ban:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="position">Đơn vị:</label>
                    <input type="text" id="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fullName">Số điện thoại cơ quan:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="position">Số điện thoại di động:</label>
                    <input type="text" id="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="fullName">Email:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="position">Địa chỉ:</label>
                    <input type="text" id="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="nickName">Nick name:</label>
                    <input type="text" id="nickName" name="nickName" required>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="cancel-button">Hủy</button>
                <button type="submit" class="save-button">Lưu thông tin</button>
            </div>
        </form>
    </div>
</div>