<div class="container">
    <h3>Thông tin nhân viên</h3>
    <div class="user-profile">
        <div class="fields-container">
            <div class="field-row">
                <div class="field">
                    <label>Mã cán bộ</label>
                    <br>
                    <p>{{ user.code }}</p>
                </div>
                <div class="field">
                    <label>Họ và tên</label>
                    <br>
                    <p>{{ user.name }}</p>
                </div>
                <div class="field">
                    <label>Địa chỉ</label>
                    <br>
                    <p>{{ user.address }}</p>
                </div>
            </div>
            <div class="field-row">
                <div class="field">
                    <label>Email</label>
                    <br>
                    <p>{{ user.email }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại di động</label>
                    <br>
                    <p>{{ user.phone }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại cơ quan</label>
                    <br>
                    <p>{{ user.tel }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

