<div class="container">
    <div class="user-add">
        <h3>Thông tin cá nhân</h3>
        <div class="box-add">
            <a (click)="openForm()"><i class="fa-solid fa-user-plus"></i></a>
        </div>
    </div>
    <div class="user-profile">
        <div class="fields-container" *ngIf="userData">
            <div class="field-row">
                <div class="field">
                    <label>Mã cán bộ</label>
                    <br>
                    <p>{{ userData.code }}</p>
                </div>
                <div class="field">
                    <label>Họ và tên</label>
                    <br>
                    <p title="{{userData.name}}">{{ userData.name }}</p>
                </div>
                <div class="field">
                    <label>Địa chỉ</label>
                    <br>
                    <p title="{{userData.address}}">{{ userData.address }}</p>
                </div>
            </div>
            <div class="field-row">
                <div class="field">
                    <label>Email</label>
                    <br>
                    <p title="{{userData.email}}">{{ userData.email }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại di động</label>
                    <br>
                    <p>{{ userData.phone }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại cơ quan</label>
                    <br>
                    <p>{{ userData.tel }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form thêm mới người dùng -->
<div class="overlay" *ngIf = "!showForm">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thêm mới người dùng</span>
            <a (click)="closeForm()"> <span class="close-button">X</span> </a><!-- Close (x) button -->
        </div>
        <form [formGroup]= "profileForm" (ngSubmit)="saveData()" method="post">
            <div class="form-row">
                <div class="form-group">
                    <label for="position">Họ và tên:</label>
                    <input type="text" formControlName="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="tel">Số điện thoại cơ quan:</label>
                    <input type="text" formControlName="tel" name="tel" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="phone">Số điện thoại di động:</label>
                    <input type="text" formControlName="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" formControlName="email" name="email" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" formControlName="address" name="address" required>
                </div>
            </div>

            <div class="form-actions">
                <!-- <button type="button" class="cancel-button" (click) = "cancel()">Hủy</button> -->
                <button type="submit" class="save-button">Thêm</button>
            </div>
        </form>
    </div>
</div>
<!-- <app-user-card [userData] = "userData"></app-user-card> -->