.container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.user-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-add i {
    color: #141ed2;
}

.box-add {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #e8eaf6;
    border-radius: 8px;
    border: 1px solid #141ed2 ;
    margin-bottom: 4px;
    align-items: center;
    cursor: pointer;
}

.box-add a {
    margin: auto;
}

h3 {
    margin: 0;
    text-align: left;
}

.user-profile { 
    width: 900px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.fields-container {
    display: flex;
    flex-direction: column;
}

.field-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.field {
    flex-basis: calc(33.33% - 10px);
    /* Sử dụng 33.33% để chia cột ngang */
    font-size: var(--font-size);
}

label {
    font-weight: bold;
    color: #181818;
}

p {
    margin-top: 5px;
    color: #bcbbc5;
}

/* css form thêm user */

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Background mờ */
    z-index: 9999;
    /* Đặt layer trên layout cũ */
}

.form-wrapper {
    width: 500px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title a {
    cursor: pointer
}

.form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.close-button {
    font-size: 16px;
    font-weight: 900;
    color: #000;
}

a {
    text-decoration: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex-basis: calc(50% - 20px);
    /* Chia làm 2 cột với khoảng cách 20px */
    margin-bottom: 14px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
}

.form-group input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 24px;
    font-size: 14px;
    margin-top: 5px;
    color: #bcbbc5;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button,
.save-button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 150px;
}

.cancel-button {
    color: #006b68;
    border: 1px solid #3aebe5;
    font-weight: 700;
}

.save-button {
    background-color:#006b68;
    color: white;
}