<div class="container">
    <div class="user-add">
        <h3>Thông tin cá nhân</h3>
        <div class="box-add">
            <a href=""><i class="fa-solid fa-user-plus"></i></a>
        </div>
    </div>
    <div class="user-profile">
        <div class="fields-container" *ngIf="userData">
            <div class="field-row">
                <div class="field">
                    <label>Mã cán bộ</label>
                    <br>
                    <p>{{ userData.code }}</p>
                </div>
                <div class="field">
                    <label>Họ và tên</label>
                    <br>
                    <p>{{ userData.name }}</p>
                </div>
                <div class="field">
                    <label>Địa chỉ</label>
                    <br>
                    <p>{{ userData.address }}</p>
                </div>
            </div>
            <div class="field-row">
                <div class="field">
                    <label>Email</label>
                    <br>
                    <p>{{ userData.email }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại di động</label>
                    <br>
                    <p>{{ userData.phone }}</p>
                </div>
                <div class="field">
                    <label>Số điện thoại cơ quan</label>
                    <br>
                    <p>{{ userData.tel }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-user-card [userData] = "userData"></app-user-card> -->