<div class="overlay">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thay đổi ảnh đại diện</span>
            <a [routerLink]="['/page/user/user-card']"><span class="close-button">X</span></a> <!-- Close (x) button -->
        </div>
        <div class="container">
            <div class="header">
                <h4>Upload Ảnh</h4>
                <span></span>
            </div>
            <div class="body">
                <div class="icon-upload">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </div>
                <h4>Chọn một file hoặc kéo thả tệp tại đây</h4>
                <span>Chọn file với các định dạng cho phép JPG, JPEG, BMP, PNG, SVG</span>
                <br>
                <button>Chọn File</button>
            </div>
            <div class="footer">
                <button type="button" class="cancel-button">Hủy</button>
                <button type="submit" class="save-button">Lưu Ảnh</button>
            </div>
        </div>
    </div>
</div>