<div class="container">
    <h3>Thẻ thông tin cá nhân</h3>
    <div class="user-card">
        <div class="user-card__change">
            <div class="box-change">
                <a (click)="openForm()"><i class="fa-solid fa-pen"></i></a>
            </div>
        </div>
        <div class="user-card__content">
            <div class="user-card__image" *ngIf = "imageData">
                <img [src]="imageData.url" alt="Avatar" class="header-avatar" (error)="onImageError()">
                <div class="img-change">
                    <a (click)="openEdit()"><i class="fa-solid fa-pen"></i></a>
                </div>
                <div class="status">
                    <p>Đang vắng mặt</p>
                </div>
            </div>
            <div class="user-card__image" *ngIf = "!imageData">
                <img src="/assets/images/avatar.jpg" alt="Avatar" class="header-avatar">
                <div class="img-change">
                    <a (click)="openEdit()"><i class="fa-solid fa-pen"></i></a>
                </div>
                <div class="status">
                    <p>Đang vắng mặt</p>
                </div>
            </div>
            <div class="user-card__info">
                <div class="user-profile">
                    <div class="fields-container" *ngIf="cardData">
                        <div class="field-row">
                            <div class="field">
                                <label>Họ và tên</label>
                                <br>
                                <p *ngIf="userData" title="{{userData.name}}">{{userData.name}}</p>
                            </div>
                            <div class="field">
                                <label>Chức vụ</label>
                                <br>
                                <p title="{{cardData.position}}">{{cardData.position}}</p>
                            </div>
                            <div class="field">
                                <label>Vị trí chức danh</label>
                                <br>
                                <p title="{{cardData.title}}">{{cardData.title}}</p>
                            </div>
                        </div>
                        <div class="field-row" style="background-color: #e5f3ff;">
                            <div class="field">
                                <label>Công việc (sở trường)</label>
                                <br>
                                <p title="{{cardData.forte}}">{{cardData.forte}}</p>
                            </div>
                            <div class="field">
                                <label>Phòng ban</label>
                                <br>
                                <p title="{{cardData.department}}">{{cardData.department}}</p>
                            </div>
                            <div class="field">
                                <label>Đơn vị</label>
                                <br>
                                <p title="{{cardData.unit}}">{{cardData.unit}}</p>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label>Số điện thoại cơ quan</label>
                                <br>
                                <p *ngIf="userData" title="{{userData.tel}}">{{userData.tel}}</p>
                            </div>
                            <div class="field">
                                <label>Số điện thoại di động</label>
                                <br>
                                <p *ngIf="userData" title="{{userData.phone}}">{{userData.phone}}</p>
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <br>
                                <p *ngIf="userData" title="{{userData.email}}">{{userData.email}}</p>
                            </div>
                        </div>
                        <div class="field-row" style="background-color: #e5f3ff;">
                            <div class="field">
                                <label>Địa chỉ</label>
                                <br>
                                <p *ngIf="userData" title="{{userData.address}}">{{userData.address}}</p>
                            </div>
                            <div class="field">
                                <label>Nick name</label>
                                <br>
                                <p title="{{cardData.nickname}}">{{cardData.nickname}}</p>
                            </div>
                            <div class="field">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Cập nhật thông tin -->
<div class="overlay" *ngIf = "!showForm">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thẻ thông tin cá nhân</span>
            <a (click)="closeForm()"> <span class="close-button">X</span> </a><!-- Close (x) button -->
        </div>
        <form [formGroup]= "userForm" (ngSubmit)="saveData()">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Họ và tên:</label>
                    <input type="text" formControlName="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="position">Chức vụ:</label>
                    <input type="text" formControlName="position" name="position" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="title">Vị trí chức danh:</label>
                    <input type="text" formControlName="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="forte">Công việc sở trường:</label>
                    <input type="text" formControlName="forte" name="forte" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="department">Phòng ban:</label>
                    <input type="text" formControlName="department" name="department" required>
                </div>
                <div class="form-group">
                    <label for="unit">Đơn vị:</label>
                    <input type="text" formControlName="unit" name="unit" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="tel">Số điện thoại cơ quan:</label>
                    <input type="text" formControlName="tel" name="tel" required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại di động:</label>
                    <input type="text" formControlName="phone" name="phone" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" formControlName="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ:</label>
                    <input type="text" formControlName="address" name="address" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="nickname">Nick name:</label>
                    <input type="text" formControlName="nickname" name="nickname" required>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="cancel-button" (click) = "cancel()">Hủy</button>
                <button type="submit" class="save-button">Lưu thông tin</button>
            </div>
        </form>
    </div>
</div>



<!-- Cập nhật ahr đại diện -->
<div class="overlay" *ngIf = "!editImg">
    <div class="form-wrapper">
        <div class="title">
            <span class="form-title">Thay đổi ảnh đại diện</span>
            <a (click)="closeEdit()"><span class="close-button">X</span></a>
        </div>
        <div class="container">
            <div class="header">
                <h4>Upload Ảnh</h4>
                <span></span>
            </div>
            <div class="body" *ngIf="!url">
                <div class="icon-upload">
                    <input type="file" (change) = "onFileSelected($event)">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </div>
                <h4>Chọn một file hoặc kéo thả tệp tại đây</h4>
                <span>Chọn file với các định dạng cho phép JPG, JPEG, BMP, PNG, SVG</span>
                <br>
                <input type="file" (change)="onFileSelected($event)">
            </div>
            <div class="body" *ngIf = "url">
                <img [src]="url" alt="">
            </div>
            <div class="footer">
                <button type="button" class="cancel-button" (click)="closePopup()">Hủy</button>
                <button type="button" class="save-button" (click)="saveImage()">Lưu Ảnh</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

