<div class="container">
    <h3>Thẻ thông tin cá nhân</h3>
    <div class="user-card">
        <div class="user-card__change">
            <div class="box-change">
                <a [routerLink]="['/page/user/user-card/edit-profile']"><i class="fa-solid fa-pen"></i></a>
            </div>
        </div>
        <div class="user-card__content">
            <div class="user-card__image">
                <img src="/assets/images/house1.jpg" alt="">
                <div class="img-change">
                    <a [routerLink]="['/page/user/user-card/edit-image']"><i class="fa-solid fa-pen"></i></a>
                </div>
                <div class="status">
                    <p>Đang vắng mặt</p>
                </div>
            </div>
            <div class="user-card__info">
                <div class="user-profile">
                    <div class="fields-container">
                        <div class="field-row">
                            <div class="field">
                                <label>Họ và tên</label>
                                <br>
                                <p>5354524</p>
                            </div>
                            <div class="field">
                                <label>Chức vụ</label>
                                <br>
                                <p>Nguyễn Công Toàn</p>
                            </div>
                            <div class="field">
                                <label>Vị trí chức danh</label>
                                <br>
                                <p></p>
                            </div>
                        </div>
                        <div class="field-row" style="background-color: #e5f3ff;">
                            <div class="field">
                                <label>Công việc (sở trường)</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Phòng ban</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Đơn vị</label>
                                <br>
                                <p></p>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label>Số điện thoại cơ quan</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Số điện thoại di động</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <br>
                                <p></p>
                            </div>
                        </div>
                        <div class="field-row" style="background-color: #e5f3ff;">
                            <div class="field">
                                <label>Địa chỉ</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Nick name</label>
                                <br>
                                <p></p>
                            </div>
                            <div class="field">
                                <label>Địa chỉ</label>
                                <br>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

