.container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
    text-align: left;
}

.user-card {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 30px 30px 30px;
    margin-top: 20px;
}

/* CSS ảnh với trạng thái */

.user-card__image {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.user-card__image img {
    position: relative;
    border-radius: 8px;
    height: 50%;
    /* Đặt chiều cao của ảnh là 50% */
    object-fit: cover;
    /* Đảm bảo ảnh sẽ hiển thị đúng tỷ lệ và không bị méo */
}

.img-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #141ed2;
    border-radius: 8px;
    right: 180px;
    z-index: 2;
    margin-top: -200px;
    margin-left: 174px;
}

.img-change i {
    font-size: 10px;
    color: #fff;
}

.status {
    display: flex;
    justify-content: center;
    margin: 40px;
    background-color: #fbe6ea;
    height: 30px;
    border-radius: 4px;
    margin-top: 200px;
}

.status p {
    color: #fa8486;
    font-size: 14px;
}

/*CSS icon-box thay đổi thông tin*/

.user-card__change {
    display: flex;
    justify-content: flex-end;
}

.box-change {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #e8eaf6;
    border-radius: 8px;
    border: 1px solid #141ed2;
    margin-bottom: 4px;
}

.user-card__change a {
    margin: auto;
    color: #141ed2;
}

.user-card__change i {
    font-size: 18px;
}

/* CSS profile */

.user-card__content {
    display: flex;
    flex-direction: row;
}

.user-card__info {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin-left: 30px;
}

.field-row {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.field {
    flex-basis: calc(33.33% - 10px);
    /* Sử dụng 33.33% để chia cột ngang */
    font-size: 14px;
    padding-top: 20px;
    margin-left: 40px;
}

.field p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}


label {
    font-weight: bold;
    color: #181818;
}

p {
    margin-top: 5px;
    padding-top: 4px;
    color: #bcbbc5;
}

a {
    cursor: pointer;
}


/* css form update */


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Background mờ */
    z-index: 9999;
    /* Đặt layer trên layout cũ */
}

.form-wrapper {
    width: 500px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title a {
    cursor: pointer
}

.form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.close-button {
    font-size: 16px;
    font-weight: 900;
    color: #000;
}

a {
    text-decoration: none;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex-basis: calc(50% - 10px);
    /* Chia làm 2 cột với khoảng cách 10px */
    margin-bottom: 14px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 24px;
    font-size: 14px;
    margin-top: 5px;
    color: #bcbbc5;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button,
.save-button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 150px;
}

.cancel-button {
    color: #006b68;
    border: 1px solid #3aebe5;
    font-weight: 700;
}

.save-button {
    background-color: #006b68;
    color: white;
}


/* css upload ảnh */

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Background mờ */
    z-index: 9999;
    /* Đặt layer trên layout cũ */
}

.form-wrapper {
    width: 80%;
    max-width: 350px;
    height: auto;
    max-height: 90%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title a {
    cursor: pointer;
}

.form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 30px 20px 30px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.body img {
    margin: auto;
    height: 80%;
    width: 80%;
}

#image {
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* zoom ảnh */

.zoom-wrapper {
    width: 200px;
    /* Set the fixed width for the zoomed image */
    height: 200px;
    /* Set the fixed height for the zoomed image */
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s;
}

.zoom-controls {
    margin-top: 10px;
}

input[type="range"] {
    width: 200px;
    /* Set the width for the zoom range input */
}

.icon-upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7d7d7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 70px;
}

.icon-upload input {
    opacity: 0;
    padding: 5rem;
}

.icon-upload i {
    position: absolute;
    color: #343de8;
    font-size: 18px;
}

.close-button {
    font-size: 16px;
    font-weight: 900;
    color: #000;
}

a {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.cancel-button,
.save-button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 100px;
}

.cancel-button {
    color: #343de8;
    border: 1px solid #6d73f2;
    font-weight: 700;
}

.save-button {
    background-color: #343de8;
    color: white;
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        width: 90%;
        max-width: none;
    }
}

@media screen and (max-height: 600px) {
    .form-wrapper {
        height: 90%;
        max-height: none;
    }
}